/* Wrapper for both containers */
.card-comp-wrapper {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 90%; /* Full width */
  margin: 20px 0;
  align-items: flex-start;
  gap: 30px;
}

/* Debit Card Container */
.card-container {
  flex: 2; /* Occupy most of the width */
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
}

.debit-card-section {
  display: flex;
  gap: 20px;
  align-items: center; /* Ensure vertical alignment of card and add button */
  
}

.card-image {
  width: 100%;
  max-width: 500px; /* Increased the card width further */
  height: 280px; /* Increased the height */
}

.card-img {
  width: 100%;
  height: 100%; /* Ensure the card takes the full container size */
  border-radius: 10px;
}

.add-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  width: 140px; /* Reduced the width */
  height: 140px; /* Reduced the height */
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.add-card:hover {
  background-color: #e0e0e0;
  transform: translateY(-5px);
}

.add-card-placeholder {
  font-size: 0.9em; /* Reduced text size */
  color: #666;
}

/* Total Balance Container */
.balance-container {
  flex: 1; /* Take up the remaining space */
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.balance-container h2 {
  font-size: 1.6em;
  color: #14467B;
}

.balance-amount {
  font-size: 2.5em;
  color: #14467B;
  margin: 10px 0;
}

.balance-period {
  font-size: 0.9em;
  color: #888;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.action-button {
  flex: 1;
  display: flex;
  flex-direction: column; /* Make the text go below the icon */
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #14467B;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button svg {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.action-button span {
  margin-top: 5px;
  font-size: 0.9em;
}

.action-button:hover {
  background-color: #0e345b;
}
