.toggle-switch {
    width: 40px;
    height: 20px;
    background-color: #1e3a8a; /* Dark blue background */
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 8px 0px 20px auto;
  }
  
  .toggle-switch.off {
    margin: 8px 0px 20px auto;
    background-color: #ccc; /* Gray background when off */
  }
  
  .toggle-knob {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
  }
  
  .toggle-switch.on .toggle-knob {
    transform: translateX(20px); /* Move knob to the right when on */
  }
  