/* Flex container for the dashboard */
.dashboard-container {
    display: flex;
    flex-direction: column; /* Stack statistics on top, appointments & doctors in a row */
    gap: 20px;
    width: 100%;
}

/* Container for AllAppointments and AvailableDoctors in one row */
.appointments-doctors-container {
    display: flex;
    justify-content: space-between;
    gap: -20px; /* Add some gap between the two components */
    width: 100%;
}

/* AllAppointments takes up 60% of the width */
.all-appointments-container {
    flex: 3;
    height: 700px; /* Add fixed height for appointments */
    overflow-y: auto; /* Scroll if appointments overflow */
    background-color: white;
    /* padding: 20px;    */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* AvailableDoctors takes up 40% of the width */
.available-doctors-container {
    flex: 2;
    height: 700px; /* Match height with AllAppointments */
    overflow-y: auto; /* Scroll if list of doctors overflows */
    background-color: white;
   
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
