.Dashboard-body{
    display: flex;
    align-items: center;
}
.dashboard-content{
    /* padding: 12px 8px; */
    height: calc(100vh - 94px);
    overflow-y: auto;
    background: rgba(245, 242, 242, 1);
    flex: 1;
}