.DoctorSettingsSection-otr {
   
}
.DoctorSettingsSection-heading {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter18pt-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
}
.DoctorSettingsSection-arrowback {
}




.tabs-container {
  background-color: white;
  @media (max-width: 700px) {
    overflow-x: auto;
}
  }
  
  .tabs {
    display: flex;
    gap: 20px;
    background: rgba(245, 242, 242, 1);
    @media (max-width: 700px) {
      overflow-x: auto;
      white-space: nowrap;
  }
  }
  
  .tabs button {
    background-color: rgba(245, 242, 242, 1);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter18pt-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    @media (max-width: 530px) {
      padding: 10px 10px;
      cursor: pointer;
      font-size: 18px;
      line-height: 20px;
  }
  }
  
  .tabs button.active {
   background-color: white;
  }
  
  .content {
    height: calc(100vh - 231px);
    padding-top: 20px;
    background-color: white;
  }
  .profile-tab-otr h2{
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter18pt-Regular';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 12px !important;
    padding-top: 40px !important;
    @media (max-width: 700px) {
      color: rgba(0, 0, 0, 1);
      font-family: 'Inter18pt-Regular';
      font-weight: 500;
      font-size: 28px;
      line-height: 24px;
      padding-bottom: 12px !important;
      padding-top: 20px !important;
  }
  }
  .profile-tab-otr p{
    font-family: 'Inter18pt-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.51);
    @media (max-width: 700px) {
      font-family: 'Inter18pt-Regular';
      font-weight: 400;
      font-size: 18px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.51);
      padding-bottom: 30px !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  }
  }
  .profile-tab-otr .desc-profile{
    font-family: 'Inter18pt-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.51);
    padding-bottom: 40px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    @media (max-width: 700px) {
      font-family: 'Inter18pt-Regular';
      font-weight: 400;
      font-size: 18px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.51);
      padding-bottom: 30px !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  }
  }

  .account-tab-otr h2{
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter18pt-Regular';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 12px !important;
    padding-top: 40px !important;
    @media (max-width: 700px) {
      color: rgba(0, 0, 0, 1);
      font-family: 'Inter18pt-Regular';
      font-weight: 500;
      font-size: 28px;
      line-height: 24px;
      padding-bottom: 12px !important;
      padding-top: 20px !important;
  }
  }
  .account-tab-otr p{
    font-family: 'Inter18pt-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.51);
    @media (max-width: 700px) {
      font-family: 'Inter18pt-Regular';
      font-weight: 400;
      font-size: 18px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.51);
      padding-bottom: 30px !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  }
  }






  .password-container h2{
    @media (max-width: 700px) {
      color: rgba(0, 0, 0, 1);
      font-family: 'Inter18pt-Regular';
      font-weight: 500;
      font-size: 28px;
      line-height: 24px;
      padding-bottom: 12px !important;
      padding-top: 20px !important;
  }
  }


  .password-container {
    display: flex;
    align-items: baseline;
    gap: 0px 48px;
    @media (max-width: 530px) {
      flex-direction: column;
      gap: 12px;
  }
  }
  .password-container .input-action{
    display: flex;
    flex-direction: column;
    gap: 8px 0px;
  }
  .password-input-wrapper {
    position: relative;
  }
  
  .password-input-wrapper input {
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
    width: 250px;
  }
  
  .password-input-wrapper button.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .delete-account-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #999;
    cursor: not-allowed;
    border-radius: 5px;
    font-size: 16px;
  }
  











  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .expand-btn {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  .checkin-notification-container h2{
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter18pt-Regular';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    @media (max-width: 700px) {
      color: rgba(0, 0, 0, 1);
      font-family: 'Inter18pt-Regular';
      font-weight: 500;
      font-size: 28px;
      line-height: 24px;
      padding-bottom: 12px !important;
      padding-top: 20px !important;
  }
  @media (max-width: 530px) {
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter18pt-Regular';
    font-weight: 500;
    font-size: 22px;
    line-height: 15px;
    padding-bottom: 12px !important;
    padding-top: 20px !important;
}
  }
  .checkin-notification-container .description {
    color: #666;
    margin-top: 5px;
    padding-left: 20px !important;
    font-family: 'Inter18pt-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.51);
    @media (max-width: 700px) {
      font-family: 'Inter18pt-Regular';
      font-weight: 400;
      font-size: 18px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.51);
      padding-bottom: 30px !important;
  }
  }
  
  .checkin-notification-container .toggle-options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 20px;
    max-width: 500px;
  }
  
  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .option label {
    font-size: 16px;
  }
  
  .option input[type="checkbox"] {
    transform: scale(1.5);
  }
  
  .update-btn {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
    width: 36px;
    height: 21px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: rgba(33, 0, 93, 1);
  }
  
  input:checked + .slider:before {
    transform: translateX(13px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* Option and container CSS */
  .checkin-notification-container:not(:last-child) {
    border-bottom: 1px solid;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .expand-btn {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(20, 70, 123, 1);
    cursor: pointer;
    color: rgba(20, 70, 123, 1);
    font-family: 'Inter18pt-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 0px 8px;
  }
  
  .description {
    color: #666;
    margin-top: 5px;
  }
  
  .toggle-options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .update-btn {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
 .toggle-options .option label  {
    font-family: 'Inter18pt-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0, 0, 0, 1);
 }

 .notification-main{
    border-bottom:  1px solid rgba(0, 0, 0, 0.24);
    padding-bottom: 40px;
 }

 .chat-main {
    padding: 40px 0px 0px 20px;
 }

 .chat-main p{
    color: #666;
    margin-top: 5px;
    font-family: 'Inter18pt-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.51);
 }


 .print-options-container {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
 .print-options-container  h2 {
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter18pt-Regular';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
  }
  
  .description {
   color: rgba(0, 0, 0, 0.51);
   font-family: 'Inter18pt-Regular';
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 20px !important;
  }
  
  .option-cards {
    display: flex;
    gap: 20px;
    @media (max-width: 530px) {
      flex-direction: column;
  }
  }
  
  .option-card {
    @media (max-width: 530px) {
      width: 100%;
  }
    display: flex;
    gap: 20px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 20px;
    width: 155px;
    height: 155px;
    border-radius: 8px;
    text-align: center;
  }
  
  .option-card p {
    color: rgba(0, 0, 0, 1);
    font-family: 'Inter18pt-Regular';
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
  }
  
 
  